*{
  box-sizing: border-box;
  font-family: 'Prompt', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');


body{
  background: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  background: -webkit-linear-gradient(45deg, #49a09d, #5f2c82);
  background: linear-gradient(45deg, #49a09d, #5f2c82);
  font-weight: 100;
}

.container{
  margin: 30px auto;
  width: 350px;
  width: auto;
}

.App {
  text-align: center;
}
/* default = 40 */
.App-logo {
  height: 10vmin;
  pointer-events: none;
  display: flex;
  justify-content:center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.horizontal-menu{
  list-style-type: none;
  margin: 0;
  padding: o;
  overflow: hidden;
  background: #333;
  text-align: center;
}

.horizontal-menu li{
  display: inline-block;
}

.horizontal-menu a{
  color: #f7f7f7;
  text-decoration: none;
  padding: 16px;
  display: block;
}


